body {
    text-align: center;
}

head {
    padding: 0 0 50px 0;
    border: solid;
}

h2 {
    padding: 150px 0 50px 0;
    
}

footer{
    padding: 150px 0 50px 0;
    border: solid;
    
}